-provide(:title, "Question List")

%h1 Listing questions

%ul
  - @questions.each do |question|
    %li= link_to question.title, question
      
= paginate @questions

%br

= link_to 'New Question', new_question_path
