*~
*.swp
*.bak
*.orig
.DS_Store

.idea
.eclipse
.classpath
.prj
.project
*.iml
*.ipr
*.iws

db/xapit/

config/deploy.rb

coverage
public/stylesheets/compiled/
data/*.dat
base_packaged.*

.directory
.bundle
log/*.log
tmp/**/*
vendor/cache/*.gem

public/javascripts/packaged/
public/stylesheets/packaged/
public/packages/
public/assets/

.sass-cache
*.kdev4
.redcar

