/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

@import "compass";

ul.horizontal{
  @include horizontal-list();
}

.pagination{
  text-align: center;
  overflow: hidden;
  padding: 20px;
  span a {
    color: #404040;
    background-color: #E6E6E6;
    padding: 7px 10px 7px 10px;
    @include border-radius(3px);
  }    
  span.current {
    background-color: #EE681F;
    color: #FDF0E9;
    padding: 7px 7px 7px 10px;
    margin: 0 3px;
    @include border-radius(3px);
  }
}
  